.container-fluid{
font-weight: 500;
}
.logo h3{
    color: #ffffff;
}
.offcanvas-header{
    background-color: rgb(124,56,24);
}
h5{
    color:white;
}
.navbar{
    background-color: rgb(124,56,24);
}
.nav-link{
    color: white;
    font-weight: 500;
}

a{
margin: 10px;
}
.cart-button{
    color: rgb(124,56,24); /* Adjust as needed */
    background-color:#ffffff; /* Adjwust as needed */
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;

}
.login-button {
    color: rgb(124,56,24); /* Adjust as needed */
    background-color:#ffffff; /* Adjust as needed */
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.login_button:hover {
    background-color: #0056b3; /* Adjust as needed */
  }
.offcanvas-body{
    background-color: rgb(124,56,24);
}
